<h1>Team Guatemala 2016!</h1>

<h2>Country Summary</h2>
<p>Guatemala is one of the poorest countries in Latin America, due, in large part, to the 36-year civil war that ended in 1996.  The Mayan population living in the rural areas bore the brunt of the violence, which killed more than 200,000 Guatemalans.</p> 
<p>Today, approximately 40% of Guatemala’s population is of Mayan descent.  Many are living without running water, electricity and basic health care.  Rural families survive by practicing subsistence agriculture in the steep terrain of the Guatemalan mountains or by working for larger land owners.</p>
<p>These conditions contribute to Guatemala having the highest rate of malnutrition in Latin America and ranking 6th in the world for chronic malnutrition (UNICEF).  49% of children under the age of five are chronically malnourished.</p>

<h2>Goals/Objectives:</h2>
<p>To decrease the incidence and improve community case management of diarrhea, malnutrition, and acute respiratory infections, while simultaneously improving maternal health.</p>  

<h2>Potential Challenges:</h2>
<p>Jobs vary but include manual labor tasks like digging, mixing cement, bending rebar, and stacking cinderblocks. Volunteers will work alongside community members as they lead the project, guided by Medical Teams International field staff to its completion and success.  Volunteers need to be able to hike along muddy, steep hillsides 30 to 60 minutes each day.</p>
<br>
<p>To learn more or donate to the cause please visit our group's <a href="https://fundraise.medicalteams.org/events/detail?eid=69245">fundraising page</a>.</p>
