<div class="center jumbotron">
  <h1>Evanta-MTI Silent Auction 2016</h1>
  <h2>Please bid on the items below to help support our <%= link_to "releaf trip to Guatemala", "#" %></h2>
  <%= link_to "Sign in to bid!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
